<div class="org">
  <div class="input-container">
    <h2 class="container-heading">
        Login to continue
    </h2>

    <div class="input-section">
        <div class="input-field">
            <p class="input-field-header">Email</p>

            <input placeholder="abc@wmail.com">
        </div>

        <div class="input-field">
            <p class="input-field-header">Password</p>

            <input placeholder="Enter your password">
        </div>

        <button mat-button>Login</button>
    </div>

    <div class="desc-tag">
        <p class="desc-1">Already a Developer ? <span class="desc-2">Click Here</span></p>
    </div>
  </div>
</div>
