/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Black.ttf") format("ttf"),
    url("assets/fonts/Rubik-BlackItalic.ttf") format("ttf"),
    url("assets/fonts/Rubik-Bold.ttf") format("ttf"),
    url("assets/fonts/Rubik-BoldItalic.ttf") format("ttf"),
    url("assets/fonts/Rubik-ExtraBold.ttf") format("ttf"),
    url("assets/fonts/Rubik-ExtraBoldItalic.ttf") format("ttf"),
    url("assets/fonts/Rubik-Italic.ttf") format("ttf"),
    url("assets/fonts/Rubik-Light.ttf") format("ttf"),
    url("assets/fonts/Rubik-LightItalic.ttf") format("ttf"),
    url("assets/fonts/Rubik-Medium.ttf") format("ttf"),
    url("assets/fonts/Rubik-MediumItalic.ttf") format("ttf"),
    url("assets/fonts/Rubik-Regular.ttf") format("ttf"),
    url("assets/fonts/Rubik-SemiBold.ttf") format("ttf"),
    url("assets/fonts/Rubik-SemiBoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

.org {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("../src/assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;

    background-color: #131316;
    width: 30vh;

    border-radius: 2vh;

    align-items: center;
    justify-content: center;
    padding: 6vw 4vw;

    h2 {
      font-family: Rubik, sans-serif;
      color: #fafafa;
      font-size: 20px;
    }

    .input-section {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      justify-content: center;
      align-items: center;

      .input-field {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: 25vh;

        p {
          font-family: Rubik, sans-serif;
          font-size: 14px;
          color: #d1d1d6;
        }

        input {
          background: transparent;
          border-radius: 5px;
          border: 2px solid #194185;
          padding: 12px;

          &:hover {
            border: 2px solid #4caf50;
          }
        }
      }

      button {
        font-family: Rubik, sans-serif;
        width: 170px;
        height: 35px;
        background-color: #1570ef;
        color: #cfcfcf;

        border: none;
        border-radius: 6px;

        cursor: pointer;

        transition: background-color 0.3s, opacity 0.3s ease-in-out;

        &:hover {
          background-color: #4caf50;
          color: #cfcfcf;
          border-color: #4caf50;
        }
      }
    }

    .desc-tag {
      display: flex;
      flex-direction: row;

      p {
        font-family: Rubik, sans-serif;
        font-size: 12px;
      }

      .desc-1 {
        color: #70707b;
      }

      .desc-2 {
        color: #1570ef;
        cursor: pointer;

        &:hover {
          color: #4caf50;
        }
      }
    }
  }
}
